# Copiez ce fichier et exportez ces variables dans votre environnement
# Ne committez jamais de vraies valeurs du .env dans la production.
APP_ENV=
APP_URL=
 
DB_DRIVER=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
