# Copiez ce fichier et exportez ces variables dans votre environnement
# Ne committez jamais de vraies valeurs du .env dans la production.

# Configuration de la base de données
DB_DRIVER=
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

SMTP_HOST= smtp.gmail.com;
SMTP_USER= utilisateur;
SMTP_PASS= mot_de_passe;
SMTP_PORT= 587;
SMTP_FROM= no-reply@math-ai.local;
