body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

h1 {
    margin: auto;
}

header {
    background-color: aqua;
    padding: 15px 25px;
}

nav {
    display: flex;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main {
    margin: auto;
    padding: 0 20px;
}

a {
    color: blueviolet;
}

footer {
    margin: auto;
    text-align: center;
    background-color:black;
    color: aliceblue;
}

